html,
body {
    margin: 0;
    height: 100%;
}

#heading {
    color: black;
    border: 2px outset black;
    font-size: 25px;
    background-color: rgb(172, 227, 218);
    /* border-radius: 10px; */
    height: 20%;
}

#gallery_box {
    border: 5px outset black;
    /* background-color: lightgoldenrodyellow; */
    height: 80%;
    width: 74%;
    /* border-radius: 10px; */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

}

#contact_box {
    border: 8px outset black;
    /* background-color: lightblue; */
    height: 80%;
    width: 25%;
    float: right;
    border-radius: 10px;
    text-align: center;
}

#items_inside_gallery_box {
    text-align: center;
    border: 2px outset red;
    /* background-color: lightgoldenrodyellow; */
    height: 80%;
    width: 100%;
    /* border-radius: 10px; */
    overflow: auto;
}
#h1{
    color: blue;
}