{%extends 'store_theme.html'%}

{% block content%}
{% if user.is_authenticated%}
<div id="add_page_body" >
    <h1 id>Add Item</h1>
    <br>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <table id="table">
            <tr>
                <td id="form_descriptor">Name:</td>

                <td id="form_input">{{form.name}}</td>
            </tr>

            <tr>
                <td id="form_descriptor">Cost ($):</td>
                <td id="form_input">{{form.cost}}</td>
            </tr>

            <tr>
                <td id="form_descriptor">Quantity:</td>
                <td id="form_input">{{form.quantity}}</td>
            </tr>

            <tr>
                <td id="form_descriptor">Image:</td>
                <td id="form_input">{{form.image}}</td>
            </tr>
        </table>

        <div>
            <button type="submit">Add Item</button>
            <button type="button" onclick=location.href="{% url 'owner'%}">Go Back</button>
        </div>

    </form>
</div>
{%else%}
<h1>User Is Not Authenticated</h1>
{%endif%}


{%endblock content%}