{%  extends 'store_theme.html'%}

{% block content%}

<div id="contact_page">
    <h1>Contact Information</h1>
    <br>

        <br>
        <div id="contact_info_form">
            <h3>Store Phone Number
            </h3>
            <p>(970) 573-5946</p>
            <h3>Store Hours</h3>
            <p>Monday: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp9am-7pm</p>
            <p>Tuesday: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp9am-7pm</p>
            <p>Wednesday: &nbsp&nbsp9am-7pm</p>
            <p>Thursday:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp9am-7pm</p>
            <p>Friday: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp9am-7pm</p>
            <p>Saturday: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1am-7pm</p>
            <p>Sunday: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp9am-7pm</p>
            <h3>Store Address</h3>
            <p>3000 23th Ave, 2 <br>
            Greeley,CO 80630</p>
        </div>
    </div>

{%endblock%}