<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asian Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
</head>

<body id="body">
    <div id="heading">
        <h1> Greeley Asian Store </h1>
        <p class="btn btn-success">Owner Login</p>

    </div>

    <div id="gallery_box">
        <h1> Gallery </h1>
        <hr>
        <div id="items">
            <h1>Item</h1>


        </div>
    </div>
    <div id="contact_box">
        <h1>Contact Information</h1>

    </div>


</body>

</html>