<div id="navigate" width="500px">
    <h1 id="title"> Asian Market - Greeley <h1>

    <form id="search"method="GET" action="/search">
        {% csrf_token %}
        <input id="search_field"type="text" placeholder="Search item" name="q" ></input>
        <input id="submit" type="submit"></input>
    </form>
</div>
{% if user.is_authenticated %}
    <div id="navigate_2">
        <a id = "home" href="{% url 'add_item'%}">Add Item </a>
        <a id = "home" href="{% url 'notification'%}">Notification </a>
        <a href="{% url 'contact'%}" id="contact_info"> Contact Information</a>
        <a id = "home" href="{% url 'home'%}">Customer Page </a>
        <a id = "home" href="{% url 'owner'%}">Owner Page </a>


        <a id="owner_login" href="{% url 'logout' %}"> Logout</a>

        </div>
{%else%}

<div id="navigate_2">

<a href="{%url 'contact'%}" id="contact_info"> Contact Information</a>
<a id = "home" href="{% url 'home'%}">Home </a>
<a id="owner_login" href="{% url 'login' %}"> Owner's|Login</a>
</div>
{%endif%}
<hr>

