{% extends 'store_theme.html'%}
{% block content%}

{% if user.is_authenticated%}
  <div id="owner_gallery_box">
    <h2 id="welcome">Welcome Owner!</h1>
    <div id="items_inside_gallery_box">
      {% for product in object_list %}
      <div id="product">
        <h1> {{product.name}}</h1>
        <p> Price: ${{product.cost}}</p>
        <p> Quantity: {{product.quantity}}</p>
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{product.name}}" width="330vh" height="70%">
        {% endif %}
        <div>
        <a class="link" href="ownerpage/{{product.pk}}">Edit Item</a>
      </div>
        <div>
          <a class="link" href="/ownerpage/delete/{{ product.pk }}">Delete Item</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {%else%}
<h1>User Is Not Authenticated</h1>
{%endif%}
{% endblock %}
