#heading {
    color: black;
    border: 2px outset black;
    font-size: 25px;
    background-color: rgb(172, 227, 218);
    border-radius: 10px;
    height: 150px;
}

#gallery_box {
    border: 2px outset black;
    /* background-color: lightgoldenrodyellow; */
    height: 600px;
    width: 1130px;
    border-radius: 10px;
    display: inline-block;
}

#contact_box {
    border: 2px outset black;
    /* background-color: lightblue; */
    height: 400px;
    width: 350px;
    float: right;
    border-radius: 10px;
    text-align: center;
}