#heading {
    color: black;
    border: 2px outset black;
    font-size: 25px;
    /* background-color: rgb(154, 159, 204); */
    border-radius: 10px;
    height: 150px;
}

#gallery_box {
    border: 2px outset black;
    /* background-color: rgb(191, 171, 199); */
    height: 600px;
    width: 1030px;
    position: fixed;
    border-radius: 10px;
}

#contact_box {
    border: 2px outset black;
    /* background-color: rgb(191, 171, 199); */
    height: 400px;
    width: 470px;
    float: right;
    border-radius: 10px;
    text-align: center;
}